img{
  width: 100%;
    object-fit: contain;
}
#jumbo{
  padding:0;
}
.row{
  display:flex;
  justify-content: center;
}
#video{
  width: 500%;
  height: 300%;
  display:flex;
  justify-content: center;
}
#img{
  width: 500%;
  height: 300%;
  display: flex;
  justify-content: center;
}
#source{
  display:flex;
  justify content: center;
}
.row {
  display: flex;
  flex: 10%;
  padding: 5px;
}